<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
				GraphFES
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Inicio</a></li>
			<li><a href="/about">Sobre la aplicación</a></li>
		</ul>
	  
	</div>
</nav>