<!DOCTYPE html>  
<html lang="en">
<head>
  <% include /partials/head %>

</head>  
<header>
  <% include /partials/header %>
</header>
  <body class="container">
    <%- body %>
    
  </body>
<footer>
<br/><br/><br/><br/>
    <% include /partials/footer %>
</footer>
</html> 